.eastwood

.clj-kondo/
.lsp/

# pybuilder
.pybuilder/
__pycache__/

# lein
target/
.lein-repl-history
.lein-failures
pom.*
reports/*

# ide
.calva

*.iml
.idea/

build-and-move-frontend.sh
website.yaml

.envrc
